[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/songdj/songdj.github.io.git
[submodule "public"]
	path = public
	url = https://github.com/songdj/songdj.github.io.git
	branch = master
